<div>
  <img class="map-thumbnail"
        [src]="((getMapVersion$(game.relationships?.mapVersion?.data?.id) | async)?.attributes?.thumbnailUrlSmall)
              || 'assets/images/uef_small.png'"> <!-- TODO: better placeholder -->
</div>
<div class="game-info">
  <a class="game-title" [href]="game.attributes?.replayUrl">{{ game.attributes?.name }}</a>
  <a [href]="'http://faf.geosearchef.de/replay-parser/#' + game.id" target="_blank">Replay parser</a>
  <div>Ended {{ game.attributes.endTime | timeFromNow }}</div>
  <div>Lasted {{ game.attributes.startTime | timeDuration:game.attributes.endTime }}</div>
  <ul>
    <li *ngFor="let stats of game.relationships.playerStats.data">
      <img [src]="(getFactionLogoPath(stats.id) | async)
                    || 'assets/images/uef_small.png'"> <!-- TODO: better placeholder -->
      {{ (getPlayer$(stats.id) | async).attributes.login }} ({{ getRatingChange$(stats.id) | async | renderRatingChange:doShowResults() }})
    </li>
  </ul>
</div>
