<!-- <div class="faf-panel">
  Filters
  <ul>
    <li *ngFor="let filter of filters | keyvalue">
      {{ filter.key }} : {{ filter.value }}
      <button (click)="onRemoveFilter(filter.key)">remove</button>
    </li>
  </ul>
</div> -->

<div class="d-flex flex-row flex-wrap mb-2 items-end">
  <faf-players-filter class="d-block mb-2 mr-3" [playerId]="filters.playerId || ''" (playerId)="updateFilter('playerId', $event)"></faf-players-filter>
  <faf-map-filter class="d-block mb-2 mr-3" [mapId]="filters.mapVersionId || ''" (filter)="updateFilter('mapVersionId', $event)"></faf-map-filter>
</div>
<div class="d-flex flex-row flex-wrap mb-2 items-end">
  <faf-rating-filter class="d-block mb-2 mr-3" [rating]="filters.ladder1v1Rating" (filter)="updateFilter('ladder1v1Rating', $event)"></faf-rating-filter>
  <faf-mode-filter class="d-block mb-2" [ladderOnly]="getLadderOnlyFilter()" (filter)="setLadderOnlyFilter($event)"></faf-mode-filter>
</div>

