<div class="faf-panel">
  Filters
  <ul>
    <li *ngFor="let filter of filters; let idx = index">
      {{ filter }}
      <button (click)="onRemoveFilter(idx)">remove</button>
    </li>
  </ul>
  <form [formGroup]="filterForm" (ngSubmit)="onFormAddFilter(filterForm.value)">
    <label>Add a raw filter</label>
    <input type="text" formControlName="filter-string">
    <button type="submit">Add</button>
  </form>
</div>

<div class="faf-panel">
  <faf-players-filter [filteredPlayerIds]="getFilteredPlayerIds()" (filter)="updateFilter($event, 'playerStats.player.id')"></faf-players-filter>
</div>

