@import 'vars';

.main-container {
  max-width: 800px;
}

.main-container > * {
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  color: $neutral-6;
}

hr {
  border: .5px solid $neutral-4;
}

.faf-panel {
  padding: 10px;
  background: $neutral-1;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
