<faf-game-filters [filters]="getFilters()" (filters)="updateFilters($event)"></faf-game-filters>

<ng-container *ngIf="!loading; else ghost">
  <div *ngFor="let game of games$ | async" class="faf-panel game-card">
    <faf-game-card [game]="game"></faf-game-card>
  </div>
</ng-container>
<ng-template #ghost>loading...</ng-template>

<p>Some queries are bugged and return less results than they should. This in turn messes up pagination. It's recommended to increase page size instead of loading the next page to prevent this. <a href="https://github.com/FAForever/faf-java-api/issues/338">Link to issue</a></p>
<div>Results: {{ (games$ | async).length }}</div>
<button (click)="loadMore()">Load more!</button>
<button (click)="changePageSize(5)">Page size: 5</button>
<button (click)="changePageSize(10)">Page size: 10</button>
<button (click)="changePageSize(50)">Page size: 50</button>
<button (click)="changePageSize(100)">Page size: 100</button>
