:host > * {
  margin-bottom: 20px;
}

.game-card {
  display: flex;
  flex-flow: row nowrap;
}

.map-thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.game-info {
  margin-left: 10px;

  display: flex;
  flex-flow: column nowrap;

  ul {
    list-style: none;
    padding-left: 10px;
  }
  li img {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.game-title {
  font-size: 1.1rem;
  text-decoration: none;
}
